.ant-carousel .slick-slide img {
  display: block;
  border-radius: 5px;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
  content: "";
}

.text-content h5 {
  font-weight: 400;
  color: #7a7d85;
  padding-bottom: 16px;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}
.testimonial-logo {
  border-left: 1px solid #c5c6c9;
  height: 36px;
  margin-left: 16px;
}

.text-content img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  height: 36px !important;
}
.picture__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture__wrapper::before {
  content: "";
  display: inline-block;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png)
    no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
}

.text-content blockquote {
  font-size: 35px;
  line-height: 44px;
  color: #003912;
  font-weight: 550;
  text-align: justify;
  padding-right: 30px;
  font-style: italic;
  font-family: "Domine", serif;
  margin-bottom: 0 !important;
}

.testimonial .ant-carousel .slick-prev {
  left: 0px !important;
}

.testimonial .ant-carousel .slick-next {
  right: 0px !important;
}
/* Reponsive */

@media screen and (max-width: 500px) {
  .text-content blockquote {
    font-size: 24px;
    padding-bottom: 24px;
  }
  .text-content h5 {
    padding-bottom: 10px;
  }
}

/* @media only screen and (max-width: 500px) {
  .testimonial .ant-carousel .slick-prev,
  .testimonial .ant-carousel .slick-next {
    top: 16% !important;
  }
} */
@media only screen and (max-width: 692px) {
  .testimonial .ant-carousel .slick-prev,
  .testimonial .ant-carousel .slick-next {
    top: 145px;
  }
}
@media only screen and (min-width: 692px) {
  .testimonial .ant-carousel .slick-prev,
  .testimonial .ant-carousel .slick-next {
    top: 35%;
  }
}
@media only screen and (min-width: 900px) {
  .testimonial .ant-carousel .slick-prev,
  .testimonial .ant-carousel .slick-next {
    top: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonial .ant-carousel .slick-prev,
  .testimonial .ant-carousel .slick-next {
    top: 45%;
  }
}
