.show_subnav {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 60;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transition: opcity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: opcity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  top: 71px;
}
.hidden_subnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 71px;
  width: 100%;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: transform 0.2s;
  transform: rotateX(45deg);
  -webkit-transform: rotateX(90deg);
  transition: opcity 0.2s, transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: opcity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

/* Scrollable */
.css-heg063-MuiTabs-flexContainer {
  justify-content: space-between;
  align-items: center;
}
.categories .hidden_subnav {
  display: none;
}

#mouse-over-popper3 div {
  margin-right: 30px !important;
}
