.dashboarMenu.active {
  background-color: #aba0de94 !important ;
}
.dashboarMenu.active svg,
.dashboarMenu.active div span {
  color: #00e676;
}
.dashboarMenuSub.active svg,
.dashboarMenuSub.active div span {
  color: #fff;
}
