.seller-identifiers {
  display: flex;
  align-items: center;
  width: 100%;
}

.ant-card-bordered .ant-card-cover a img {
  max-height: 200px !important;
}

.ant-card-meta-title {
  color: black;
  font-size: 14px !important;
  margin-bottom: 0 !important;
}

.ant-card-cover img {
  border: 1px solid #f0f0f0 !important;
}

.seller-name {
  margin-left: 2px;
}
.ant-card-body {
  padding: 2px !important;
}
.text__content a {
  cursor: pointer;
  color: #222325;
  line-height: 22px;
  font-weight: 400;
  font-size: 16px;
  height: 43px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 12px 5px;
  margin-top: 5px;
  word-wrap: break-word;
  word-break: break-word;
  transition: 0.15s ease-in-out;
  display: block;
}

.content-info .gig-rating {
  color: #ffbe5b;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 12px;
  padding-bottom: 5px;
}
.gig-rating svg {
  margin-right: 5px;
}

.gig-rating span {
  color: #b5b6ba;
  font-weight: 400;
  margin-left: 2px;
}
.price {
  font-size: 18px;
  line-height: 20px;
  margin-top: 1px;
  color: #404145;
  text-align: right;
}
.price small {
  color: #7a7d85;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 0;
}
.price span {
  padding-left: 6px !important;
  color: #404145;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 2px 0 0;
}

.ant-card-actions > li:first-child {
  width: 15% !important;
}
.ant-card-actions > li:last-child {
  width: 80% !important;
}
.text__content a:hover {
  color: #1dbf73 !important;
  text-decoration: none;
}
