.search__carousel {
  position: absolute;
  top: 220px;
  padding: 0 50px;
  max-width: 700px;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  display: inline-block;
  width: 100%;
}
.icon__search {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #a19f9f !important;
}

.search input {
  height: 48px;
  text-indent: 25px;
}

.form__1 {
  max-width: 85.5% !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search button {
  position: absolute;
  top: 0;
  left: 85.5%;
  height: 100%;
  padding: 0 20px;
  background: #1dbf73;
  border-radius: 0 0.3rem 0.3rem 0px !important;
  color: #fff;
  font-weight: 700;
}
.search button:hover {
  background-color: #19a463;

  color: #fff;
}

.search button:focus {
  background-color: #19a463;
  box-shadow: none;
}
.text__header {
  font-size: 48px;
  line-height: 56px;
  padding-bottom: 32px;
  font-weight: 600;
  color: #fff;
  text-align: justify;
}
.popular {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 24px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
}
.popular ul {
  display: flex;
  width: 100%;
  margin-left: 12px;
  color: #ffff;
}

.popular ul a {
  background-color: transparent;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  padding: 5px 12px 5px;
  border: 1px solid #fff;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
  z-index: 4;
  text-decoration: none;
}
.popular ul li {
  margin-right: 12px;
  font-size: 14px;
}

.popular ul a:hover {
  background-color: #fff;
  color: #404145;
  text-decoration: none;
}

/* ********Responsive********* */
@media only screen and (max-width: 500px) {
  .search__carousel {
    padding: 0 25px !important;
    max-width: 100% !important;
  }
  .text__header {
    font-size: 27px;
    line-height: 33px;
    padding-bottom: 8px;
  }
  .search button {
    position: unset;
    margin-top: 8px;
    padding: 8px 20px;
    width: 100%;
    border-radius: 0.3rem !important;
  }
  .form__1 {
    max-width: 100% !important;
    border-radius: 0.25rem !important;
  }
  .popular {
    white-space: nowrap;
    flex-direction: column;
  }
  .popular ul {
    justify-content: space-evenly;
    margin-top: 8px;
  }

  .popular ul li {
    margin-right: 8px;
  }
  .popular ul li a {
    font-size: 12px;
  }
  .popular ul li:last-child {
    display: none;
  }
  .branch__list li {
    padding: 0 5px;
  }
}

@media only screen and (min-width: 500px) {
  .search__carousel {
    padding: 0 40px;
    max-width: 93%;
  }
  .branch__list li {
    padding: 0 10px;
  }
  .popular ul li a {
    font-size: 14px;
    padding: 5px 7px 5px;
  }
  .popular ul li {
    margin-right: 12px;
  }
  .text__header {
    font-size: 35px;
    line-height: 33px;
    padding-bottom: 8px;
  }
  .popular {
    flex-direction: column;
  }
  .popular ul {
    padding-top: 10px;
    white-space: nowrap;
    justify-content: center;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 768px) {
  .search__carousel {
    padding: 0 40px;
    max-width: 50%;
  }
  .text__header {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 8px;
  }
  .popular {
    flex-direction: row;
  }
  .popular ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 12px;
    color: #ffff;
  }

  .popular ul a {
    padding: 5px 12px 5px;
  }
}
