.search-header .title {
  color: #000;
  font-size: 32px;
  line-height: 150%;
  font-weight: 700;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.ant-card-cover img {
  cursor: pointer;
}
