.sticky-outer-wrapper {
  /* margin-left: 90px; */
  position: sticky;
  top: 100px;
  z-index: 5;
  margin-top: 18px;
}
.inner-sticky {
  padding-bottom: 32px;
  z-index: 5;
}
.package-content {
  margin-bottom: 24px;
}
.package-content > header h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}
.package-content > header p {
  word-break: break-word;
  font-size: 14px;
  line-height: 140%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.delivery-wrapper {
  display: flex;
  align-items: center;
}

.revisions-wrapper {
  margin-left: 16px;
  align-items: center;
  display: flex;
}

.feature {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 14px;
  color: #95979d;
  line-height: 2;
}
.additional-info {
  display: flex;
  margin-bottom: 8px;
}

.delivery,
.revisions {
  margin-left: 8px;
  color: #62646a;
  font-size: 14px;
  font-weight: 700;
}
.package-content .feature .feature-check-icon {
  fill: #dadbdd;
  padding-right: 12px;
}
.feature .feature-check-icon.included {
  fill: #1dbf73;
}

.content {
  padding: 10px 0;
}
.title{
  font-size: 19px;
}