.selling__picture {
  padding-left: 6%;
}
.tbody-4 {
  font-size: 18px;
  color: #62646a;
  line-height: 26px;
  text-align: justify;
}

.selling__text ul li h6 {
  display: flex;
  align-items: flex-start;
  font-weight: 700;
  font-size: 18px;
  color: #404145;
  align-items: center;
}
.selling__text ul li h6 svg {
  margin-right: 5px;
}
.selling__title h2 {
  text-align: justify;
}
.video-modal,
.picture-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-modal .picture-wrapper:after {
  content: "";
  display: flex;
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png)
    no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 0;
}
.selling__proposition {
  padding: 96px 50px 80px 50px;
  background-color: #f0fdf6;
}
@media screen and (max-width: 500px) {
  .selling__picture {
    padding-left: 15px;
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 768px) {
  .selling__proposition {
    padding: 45px 28px;
  }
  .selling__picture {
    padding-left: 15px;
    padding-top: 30px;
  }
}
