@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "@splidejs/splide/dist/css/splide.min.css";
@import "@splidejs/splide/dist/css/themes/splide-skyblue.min.css";

@import "~react-image-gallery/styles/css/image-gallery.css";
@import "~font-awesome/css/font-awesome.min.css";

html {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  box-sizing: border-box !important;
  max-width: 100%;
}

.ant-rate {
  color: rgb(255, 179, 62) !important;
}
.ant-btn-primary {
  display: flex !important;
  align-items: center !important;
}
.anticon {
  display: inline-flex !important;
}
button:focus {
  outline: none !important;
}
.mui-fixed {
  padding-right: 0 !important;
}
